.box{
    display: grid;
    grid-template-areas: 
        "title"
        "textarea"
        "button"
    ;
}
.formTitle{
    grid-area:title;
}
.textareaBox{
    grid-area:title;
}
.buttonBox{
    grid-area:button;
    grid-template-areas: 
    "import option1 option2" 
    ;

}
.btnImport{
    grid-area:import;
}

.btnFlash{
    grid-area:option1;
}
.btnSummary{
    grid-area:option2;
}