.box{
    display: grid;
    grid-template-areas: 
        "title"
        "textarea"
        "button"
    ;
}

.formTitle{
    grid-area:title;
}

.textareaBox{
    grid-area:title;
    display: flexbox;
    
}

textarea{
    width:90%;
    height: 500px;
}



.buttonBox{
    grid-area:button;
    grid-template-areas: 
    "import option1 option2" 
    ;

}
.btnImport{
    grid-area:import;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.btnFlash{
    grid-area:option1;
    border:3px solid  rgba(255, 0, 0, 0.366);
    border-radius: 10px;
    padding:7px;
    height:35px;
    margin:2px;
    background-color: white;
    font-family:'Quicksand', sans-serif;
    cursor:pointer;
}
.btnFlash:hover{
    background-color: rgba(255, 0, 0, 0.366);
}

.btnFlash-icon, .btnFlash-text{
    display: inline-flex;
    align-items: center;

}

.btnSummary{
    grid-area:option2;
    border:3px solid  rgba(255, 0, 0, 0.366);
    border-radius: 10px;
    padding:7px;
    height:35px;
    margin:2px;
    background-color: white;
    font-family:'Quicksand', sans-serif;
    cursor:pointer;
}

.btnSummary:hover{
    background-color: rgba(255, 0, 0, 0.366);
}

