.box{
    display: grid;
    grid-template-areas: 
        "title title title"
        "textarea textarea textarea"
        "button button button"
    ;
}
.formTitle{
    grid-area:title;
}
.textareaBox{
    grid-area:title;
}
.buttonBox{
    grid-area:button;;
}